.desktop {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* background-image:url("./img/rectangle-1.svg"); */
  
  }
  body{
    width: 100%;
    
  }
  
  .desktop .div {
    background-color: rgba(255, 255, 255, 1);
    /* background: linear-gradient(
      180deg,
      rgb(243.1, 190.35, 54.7) 0.62%,
      rgb(255, 206.88, 113.48) 46.88%,
      rgb(255, 227.26, 142.23) 72.92%,
      rgb(251.6, 235.33, 149.91) 100%
    ); */
    /* background-image:url("./img/rectangle-1.svg"); */
    
    width: 1440px;
    height: 2439px;
    position: relative;
  }
  
  .desktop .overlap {
    position: absolute;
    width: 1440px;
    height: 941px;
    background-image:url("./img/rectangle-1.svg");
    top: 0;
    left: 0;
  }
  .rectangle{
    width: 1440px;
  }
  
  .desktop .rectangle {
    position: absolute;
    width: 1440px;
    height: 898px;
    top: 0;
    left: 0;
  }
  
  .desktop .group {
    position: absolute;
    width: 1307px;
    height: 68px;
    top: 15px;
    left: 60px;
  }
  
  .desktop .IMG {
    position: absolute;
    width: 81px;
    height: 67px;
    top: 0;
    left: 0;
  }
  
  .desktop .navbar-wrapper {
    position: absolute;
    width: 889px;
    height: 52px;
    top: 9px;
    left: 418px;
  }
  
  .desktop .navbar {
    display: flex;
    width: 889px;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
  }
  
  .desktop .text-wrapper {
    width: fit-content;
    margin-left: -23.23px;
    color: #252525;
    position: relative;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-2 {
    position: relative;
    width: fit-content;
    opacity: 0.7;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #a78f3c;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-3 {
    position: relative;
    width: fit-content;
    opacity: 0.7;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #252525;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-4 {
    width: 61px;
    height: 22px;
    color: #25252594;
    white-space: nowrap;
    position: relative;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 11px 43px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -23.23px;
    background-color: #a78f3c;
    border-radius: 50px;
  }
  
  .desktop .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .p {
    position: absolute;
    width: 963px;
    top: 134px;
    left: 54px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 96px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .recommanded-projects {
    position: absolute;
    width: 390px;
    height: 386px;
    top: 555px;
    left: 54px;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 374px;
    height: 332px;
    top: 54px;
    left: 0;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 10px 30px 5px #00000040;
  }
  
  .desktop .img {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 33px;
    left: 24px;
    object-fit: cover;
  }
  
  .desktop .text-wrapper-6 {
    position: absolute;
    top: 40px;
    left: 97px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-7 {
    position: absolute;
    top: 64px;
    left: 97px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000b2;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .elevate-your-attire {
    position: absolute;
    width: 351px;
    top: 175px;
    left: 18px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000b2;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-8 {
    position: absolute;
    top: 114px;
    left: 21px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 17.7px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .overlap-group-2 {
    position: absolute;
    width: 292px;
    height: 56px;
    top: 255px;
    left: 26px;
    background-color: #cadfeb;
    border-radius: 10px;
  }
  
  .desktop .text-wrapper-9 {
    position: absolute;
    top: 11px;
    left: 13px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #040404;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-10 {
    position: absolute;
    top: 19px;
    left: 95px;
    font-family: "Inter", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .BID-wrapper {
    position: absolute;
    width: 70px;
    height: 21px;
    top: 17px;
    left: 204px;
    background-color: #cadfeb;
    border-radius: 20px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .desktop .BID {
    position: absolute;
    top: 5px;
    left: 18px;
    font-family: "Inter", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-11 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .overlap-wrapper {
    width: 388px;
    top: 609px;
    left: 533px;
    position: absolute;
    height: 332px;
  }
  
  .desktop .overlap-2 {
    position: relative;
    width: 374px;
    height: 332px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 10px 30px 5px #00000040;
  }
  
  .desktop .text-wrapper-12 {
    position: absolute;
    top: 175px;
    left: 18px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000b2;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .BID-2 {
    top: 3px;
    left: 10px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .overlap-group-wrapper {
    width: 388px;
    top: 609px;
    left: 1022px;
    position: absolute;
    height: 332px;
  }
  
  .desktop .div-wrapper {
    width: 388px;
    top: 1051px;
    left: 49px;
    position: absolute;
    height: 332px;
  }
  
  .desktop .recommanded-projects-2 {
    width: 388px;
    top: 1051px;
    left: 528px;
    position: absolute;
    height: 332px;
  }
  
  .desktop .recommanded-projects-3 {
    width: 388px;
    top: 1051px;
    left: 1017px;
    position: absolute;
    height: 332px;
  }
  
  .desktop .recommanded-projects-4 {
    width: 388px;
    top: 1490px;
    left: 49px;
    position: absolute;
    height: 332px;
  }
  
  .desktop .BID-3 {
    width: 46px;
    top: 3px;
    left: 10px;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .recommanded-projects-5 {
    width: 390px;
    top: 1490px;
    left: 528px;
    position: absolute;
    height: 332px;
  }
  
  .desktop .overlap-3 {
    position: absolute;
    width: 163px;
    height: 21px;
    top: 114px;
    left: 21px;
  }
  
  .desktop .text-wrapper-13 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 17.7px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .recommanded-projects-6 {
    width: 388px;
    top: 1499px;
    left: 1017px;
    position: absolute;
    height: 332px;
  }
  
  .desktop .rectangle-2 {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 24px;
    left: 24px;
    object-fit: cover;
  }
  
  .desktop .text-wrapper-14 {
    position: absolute;
    top: 31px;
    left: 97px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-15 {
    position: absolute;
    top: 55px;
    left: 97px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000b2;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .crafting-custom {
    position: absolute;
    top: 166px;
    left: 18px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000b2;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .overlap-group-3 {
    position: absolute;
    width: 292px;
    height: 56px;
    top: 246px;
    left: 26px;
    background-color: #cadfeb;
    border-radius: 10px;
  }
  
  .desktop .overlap-4 {
    position: absolute;
    width: 70px;
    height: 21px;
    top: 17px;
    left: 193px;
    background-image: url(./img/rectangle-22.svg);
    background-size: 100% 100%;
  }
  
  .desktop .BID-4 {
    top: 4px;
    left: 22px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .footer {
    position: absolute;
    width: 1440px;
    height: 471px;
    top: 1968px;
    left: 0;
    background-color: transparent;
    overflow: hidden;
  }
  
  .desktop .overlap-5 {
    position: relative;
    width: 1512px;
    height: 486px;
    background-color: #ffffff;
  }
  
  .desktop .india {
    position: absolute;
    top: 201px;
    left: 1207px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #252525;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .IMG-wa {
    position: absolute;
    width: 187px;
    height: 111px;
    top: 84px;
    left: 125px;
  }
  
  .desktop .for-clients-find {
    position: absolute;
    top: 141px;
    left: 571px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #252525;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .span {
    font-weight: 500;
  }
  
  .desktop .text-wrapper-16 {
    font-size: 18px;
  }
  
  .desktop .for-craftsmen-find {
    position: absolute;
    top: 141px;
    left: 854px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #252525;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-17 {
    font-weight: 500;
    font-size: 18px;
  }
  
  .desktop .text-wrapper-18 {
    position: absolute;
    top: 141px;
    left: 1170px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #252525;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-19 {
    position: absolute;
    width: 312px;
    top: 201px;
    left: 128px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #252525;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .carbon-location {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 205px;
    left: 1170px;
  }
  
  .desktop .carbon-phone-voice {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 257px;
    left: 1170px;
  }
  
  .desktop .clarity-email-line {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 314px;
    left: 1170px;
  }
  
  .desktop .frame-2 {
    position: absolute;
    width: 138px;
    height: 30px;
    top: 368px;
    left: 150px;
  }
  
  .desktop .text-wrapper-20 {
    position: absolute;
    top: 430px;
    left: 599px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #9d9d9d;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .group-2 {
    position: absolute;
    width: 251px;
    height: 60px;
    top: 1873px;
    left: 602px;
  }
  .nav-text a{
    text-decoration: none;
    color: black;
  }
  .nav-text a:hover{
    text-decoration: none;
    color: yellow;
  }
  .nav-text{
    color: black;
  }
  
  .desktop .overlap-6 {
    position: relative;
    width: 249px;
    height: 60px;
    background-color: #895e0b;
    border-radius: 50px;
  }
  
  .desktop .text-wrapper-21 {
    position: absolute;
    width: 157px;
    top: 14px;
    left: 64px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  