body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-humnst777-blk-bt: "Humnst777 Blk BT";
  --font-abeezee: ABeeZee;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-smi: 13px;

  /* Colors */
  --color-silver-100: #bebcbc;
  --color-whitesmoke: #f3f3f3;
  --color-white: #fff;
  --color-skyblue: #3badcd;
  --color-black: #000;

  /* Border radiuses */
  --br-7xl: 26px;
}
